
<div class="page" data-name="home">
    
  <!-- Static Navbar -->
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="title">Hoop</div>
      <div class="right"></div>
    </div>
  </div>
  <!--  Toolbar -->
  <div class="toolbar tabbar tabbar-labels toolbar-bottom">
    <div class="toolbar-inner">
    <a href="#tab-1" class="tab-link">
      <i class="f7-icons size-22">bag</i>
      <span class="tabbar-label">Canasta</span>
    </a>
    <a href="/productos/" class="tab-link">
      <i class="f7-icons size-22">tag</i>
      <span class="tabbar-label">Productos</span>
    </a>
    <a href="/home/" class="tab-link tab-link-active">
      <i class="f7-icons size-22">house</i>
      <span class="tabbar-label">Inicio</span>
    </a>
    <a href="#tab-4" class="tab-link">
      <i class="f7-icons size-22">bell</i>
      <span class="tabbar-label">Notificaciones</span>
    </a>
    <a href="/perfil/" class="tab-link">
      <i class="f7-icons size-22">person</i>
      <span class="tabbar-label">Perfil</span>
    </a>
    </div>
  </div>
  

<div class="page-content">
  <div class="block">
    <div class="row">
      Marcas
    </div>
    
  <div class="row">
    

      <button class="col-33 elevation-3 marca" onclick="Zara()">
        <img src="../img/logos/zara.svg" style="width: 75px; height: 30px;">
      </button>
      
      <button class="col-33 elevation-3 marca" onclick="Bershka()">
        <img src="../img/logos/bershka-1.svg" style="width: 83px;height: 35px;">
      </button>

      <button class="col-33 elevation-3 marca" onclick="Dutti()">
        <img src="../img/logos/massimo-dutti-1.svg" style="width: 98px;height: 35px;">
      </button>

  </div>
  <div class="row">
    
     <button class="col-33 elevation-3 marca" style="margin-top: 15px;" onclick="Pull()">
      <img src="../img/logos/pull-bear-2.svg" style="width: 88px; height: 35px;"> 
     </button>
    
    <button class="col-33 elevation-3 marca" style="margin-top: 15px;" onclick="Oysho()">
      <img src="../img/logos/oysho-1.svg" style="width: 87px;height: 35px;">
    </button>

    <button class="col-33 elevation-3 marca" style="margin-top: 15px;" onclick="Stradi()">
      <img src="../img/logos/stradivarius-1.svg" style="width: 90px;height: 35px;">
    </button>
  </div>
</div>

<div class="block">
  <div class="row">

    Categorias
  </div>
  <div class="row">
    <button class="col-25 elevation-3 categoria" style="margin-top: 15px;">
      <img src="../img/iconos/Blouse.png" style="width: 50px; height: 48px;">
    </button>
    <button class="col-25 elevation-3 categoria" style="margin-top: 15px;">
      <img src="../img/iconos/Bag.png" style="width: 45px; height: 45px;">
    </button>
    <button class="col-25 elevation-3 categoria" style="margin-top: 15px;">
      <img src="../img/iconos/scarf.webp" style="width: 55px; height: 50px;">
    </button>
    <button class="col-25 elevation-3 categoria" style="margin-top: 15px;">
      <img src="../img/iconos/shoe22.png" style="width: 55px; height: 50px;">
    </button>
  </div>

  <div class="row">
    <div class="col-25">Ropa</div>
    <div class="col-25">Bolsas</div>
    <div class="col-25">Accesorios</div>
    <div class="col-25">Calzado</div>

  </div>
</div>

  <div class="row">
  
<div data-pagination='{"el": ".swiper-pagination"}' data-space-between="50" data-speed="400" data-autoplay="true" class="swiper-container swiper-init demo-swiper">
    <div class="swiper-pagination"></div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
    </div>

    
  </div>

</div>

  <button class="col button button-fill" style="margin-top: 10px;" onclick="CerrarSesion()">Cerrar Sesion</button>
</div>

</div>