<div class="page" data-name="login">

  
  <div class="page-content bgregistro">
    <div class="block">
    <div class="row">
       <div class="col">
        <button class="col button button-fill botonfb" >Ingresar con Facebook</button>
       </div>
    </div>
    

    <div class="row">
     <div class="col margeninput">
        <div class="item-title item-label texttit">Correo</div>
        <input type="text" name="correo" id="correo" placeholder="Ingresa tu correo">

     </div>
    </div>

    <div class="row">
      <div class="col margeninput">
        <div class="item-title item-label texttit">Contraseña</div>
        
        <input type="password" name="password" id="password" placeholder="Tu contraseña">
    
      </div>
    </div>

    <div class="row">
        <div class="col" style="margin-top: 15px;">

            <button class="col button button-fill boton" onclick="Ingresar()">Ingresar</button>
        </div>
    </div>

    <div class="row">
        <div class="col" style="margin-top: 15px;">

            <a href="/registro/" class="regis"> ¿Aún no tienes cuenta? Regístrate</a>
          </div>
        </div>
        <div class="row">
          <div class="col" style="margin-top: 15px;">
  
              <a href="/recuperar/" class="regis" style="margin-left: 80px;"> Recuperar Contraseña</a>
            </div>
          </div>
     <div class="row">
            <a href="/start/" class="col button button-fill boton">Cancelar</a>
          </div>

    
  </div>
  </div>
  
  </div>