<div class="page" data-name="perfil">

    
    <!-- Static Navbar -->
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
        </div>
        <div class="title">Hoop</div>
        <div class="right">
            <i class="f7-icons">text_justify</i>
        </div>
      </div>
    </div>
     <!--  Toolbar -->
<div class="toolbar tabbar tabbar-labels toolbar-bottom">
<div class="toolbar-inner">
<a href="#tab-1" class="tab-link">
  <i class="f7-icons size-22">bag</i>
  <span class="tabbar-label">Canasta</span>
</a>
<a href="/productos/" class="tab-link">
  <i class="f7-icons size-22">tag</i>
  <span class="tabbar-label">Productos</span>
</a>
<a href="/home/" class="tab-link">
  <i class="f7-icons size-22">house</i>
  <span class="tabbar-label">Inicio</span>
</a>
<a href="#tab-4" class="tab-link">
  <i class="f7-icons size-22">bell</i>
  <span class="tabbar-label">Notificaciones</span>
</a>
<a href="/perfil/" class="tab-link tab-link-active">
  <i class="f7-icons size-22">person</i>
  <span class="tabbar-label">Perfil</span>
</a>
</div>
</div>
    
<div class="page-content">
   
  
</div>
</div>
