<div class="page" data-name="recuperar">
   
  
    <div class="page-content bgregistro">
        <div class="block"></div>
        <div class="title"><h3>Recuperar contraseña</h3></div>
        <div class="row">
            <div class="col margeninput">
               <div class="item-title item-label texttit">Correo</div>
               <input type="text" name="correo" id="correo" placeholder="Ingresa tu correo">
       
            </div>
           </div>
           <div class="row">
                <div class="col">
                    <button class="col button button-fill boton">Recuperar</button>
                </div>

           </div>
           <div class="row" style="margin-top: 40px;">
            <a href="/start/" class="col button button-fill boton">Cancelar</a>
          </div>
      </div>
    </div>
   </div>