<div class="page" data-name="registrop">
   
  
    <div class="page-content bgregistro">
        <div class="block">
      <div class="row" style="margin-top: 150px;">
  
        <button class="col button button-fill botonfb" >Registrate con Facebook</button>
      </div>
      <div class="row" style="margin-top: 25px;">
              <a href="/registro/" class="col button button-fill boton">Registrate con email</a>
         
        </div>
        <div class="row" style="margin-top: 40px;">
        <a href="/start/" class="col button button-fill boton">Cancelar</a>
      </div>
    </div>
      </div>
   </div>