<div class="page blak" data-name="start">

    <div class="page-content bgstart">


         <div class="row" style="margin-top: 80%;">
              <div class="col-10"></div>
              <div class="col-90"> <h1> PRIMAVERA </h1> </div>
            </div>
         <div class="row">
              <div class="col-33"></div>
              <div class="col-66"><h1> VERANO</h1> </div>
           
         </div>
         <div class="row">
             <div class="col-10"></div>
             <div class="col-90"><h2>Mujer/CAMPAÑA .20</h2> </div>
         </div>
         <div class="row" style="margin-top: 30%;">
              <a href="/registrop/" class="col button button-outline blanc" style="margin-left: 5px;">Registrate</a>
              <a href="/login/" class="col button button-outline blanc" style="margin-right: 5px;">Ingresar</a>

         </div>

         <div class="row" style="margin-top: 4%;">
             <div class="col-30"></div>
             <div class="col-70"> <a href="/home/"> <h1>Comenzar a explorar</h1></a> </div>
         </div>
      </div>
    </div>
  